<title>设施入库</title>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>设施管理</cite></a>
        <a><cite>设施入库</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="app-content-comment">
            <div class="layui-form-item">

                <div class="layui-inline">
                    <div class="layui-input-inline">
						<button class="layui-btn layuiadmin-btn-comm" data-type="add">添加</button>
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label"></label>
                    <div class="layui-input-inline">
                        <input type="text" name="number" placeholder="输入设施编号" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-comm" data-type="reload" lay-submit lay-filter="LAY-app-contcomm-search">
				    <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
				    </button>
                </div>

                <div class="layui-inline">
                    <div class="layui-input-inline">
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-card-body">
            <table id="LAY-app-content-comm" lay-filter="LAY-app-content-comm"></table>
            <script type="text/html" id="table-content-facilitystore">
                <a lay-event="sea" style="color:#008B8B"><i class="layui-icon layui-icon-search"></i>查看</a>
            </script>
        </div>
    </div>
</div>


<script>
    layui.use('facility_put', layui.factory('facility_put')).use(['admin', 'facility_put', 'table'], function() {
        var $ = layui.$,
            admin = layui.admin,
            view = layui.view,
            table = layui.table,
            form = layui.form;

        form.render(null, 'app-content-comment');

        //监听搜索
       form.on('submit(LAY-app-contcomm-search)', function(data) {
            var field = data.field;
			var number = field.number;

            //执行重载
            table.reload('LAY-app-content-comm', {
                elem: "#LAY-app-content-comm",
                url: "/searchFacility",
                method:"GET",
                where:{"status":0,
				      "number":number
					  }  
            });
        });

        //点击事件
        var active = {
            add: function(othis) {
                admin.popup({
                    title: '添加设施',
                    area: ['420px', '450px'],
                    id: 'LAY-popup-content-add',
                    success: function(layero, index) {
                        view(this.id).render('facility/putInfo').done(function() {
                            form.render(null, 'layuiadmin-form-comment');

                            //监听提交
                            form.on('submit(layuiadmin-app-com-submit)', function(data) {
							    var field = data.field; //获取提交的字段 
                                var name=field.name;
                                var number=field.number;
                                var region=field.region;
                                var type=field.type;
                                var buyMan=field.buyMan;
                                var buyTime=field.buyTime;
                                var data={
                                		"fcName":name,
                                		"fcNum":number,
                                		"rId":region,
                                		"tId":type,
                                		"person":buyMan,
                                		"buyTime":buyTime,
										"status":0
                                };
								//console.log(data)
                                $.ajax({
                                	url:"/insertFacility",
									//传过去
                                	data:data,
                                	type:"POST",
									//传回来
									dataType: "json",
                                	success:function(data){
                                		//layer.alert(data.msg);
										layer.msg(data.msg);
										if(data.code==0){
											layui.table.reload('LAY-app-content-comm');
										}	
                                	}
                                }); 

                                //提交 Ajax 成功后，关闭当前弹层并重载表格
                                //$.ajax({});
                               // layui.table.reload('LAY-app-content-comm'); //重载表格
                                layer.close(index); //执行关闭 
                            });
                        });
                    }
                });
            }
        }

        $('.layui-btn.layuiadmin-btn-comm').on('click', function() {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>